# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar

# IDEs and editors
*.iml
.idea/
.project
.classpath
.settings/
.metadata/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Java
*.class
*.log
hs_err_pid*

# Others
*.swp
*.swo
